@model MVC_test.BL.Records.Model.RecordEntityModel
@using MVC_test.WebUI.Models
<title>@ViewData["Login"]</title>

@using (Html.BeginForm("Login", "Record", FormMethod.Post, new { id = "logoutForm" }))
{
    @Html.AntiForgeryToken()
    <form id="form1" align="center" width="100%">
        <div id="child">
            <table id="tbl" align="center">
                <tr><th colspan="2" id="tablehead"><b>LOGIN</b></th></tr>
                <tr>
                    <td><b>@Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })</b></td>
                    <td>
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        <font color="red" size="1">@Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })</font>
                    </td>
                </tr>
                <tr>
                    <td><b>@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })</b></td>
                    <td>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        <font color="red" size="1">@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })</font>
                    </td>
                </tr>
                <tr><td colspan="2" align="center"><button type="submit" id="btn">Login</button></td></tr>
                <tr><td colspan="2" id="reglog">Don't have an account? <a href="@Url.RouteUrl(RouteNames.RecordRegister)" id="log">Register</a></td></tr>
            </table>
        </div>
    </form>
}